html {
	
	font-size: 16px;
	line-height: 23px;
	
	@media (max-width: 1200px) {
		font-size: 15px;
	}
	
	@media (max-width: 800px) {
		font-size: 14px;
	}
	
}

body{
	background-image: url("/public/img/biblioteca-municipal-murilo-mendes-em-juiz-de-fora.jpg");
	font-family: 'Raleway';
	background-color:#002200;
	color: #ffffff;
}

a {
	text-decoration: none;
}

a.header-carousel {
	color:white;
	font-size:1.602em;
	font-weight: 900;
}

a.sub-header-carousel {
	color:white;
	font-size:1.125em;
	font-weight: 700;
}

a.footer-link {
	font-size: 1em;
	color:black;
}

a.apagar-noticia:hover {
	font-size: 1em;
	color:red;
	font-weight: 700;
}

a.editar-noticia:hover {
	font-size: 1em;
	color:darkgreen;
	font-weight: 700;
}

a.footer-brand {
	font-size: 1.25em;
	color:red;
}

a.carousel:hover 
{
	color: yellow;
	text-decoration:none; 
	cursor:pointer;  
}

a:hover 
{
	color: black;
	text-decoration:none; 
	cursor:pointer;  
}

.carousel.slide{
	max-width: 500px;
	min-width: 300px;
	overflow: hidden;
	margin: auto;
}

.carousel-inner{
width: 500px;
height: 300px;
left: 0%;
}

input {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	margin-top: 10px;
}

div.iframe {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

p {
	color: white;
}

p.footer {
	color: black;
}

p.header {
	color:white;
	font-size:2.887em;
}

p.sub-header {
	font-size:1.802em
}

h5 {
	color:red;
}

thead.stick-head {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
	position: sticky;
	top: 0px;
}

div.card {
	color:black;
}

div.index {
margin-top: 0px;
}
					
table {
	font-size: 13px;
	font-family: 'Source Code Pro', monospace;
}

div.form-busca {
	margin-top: 40px;
}

div.form-noticia {
	margin-top: 40px;
}

div.footer {
	background-color: white;
	margin-bottom: 0;
}

#loadOverlay{display: none;}